.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(35, 49, 116);
  color: white;
}

.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(35, 49, 116);
}
a:visited{
  color: rgb(35, 49, 116);
}

.boozeList{
  text-align: left;
  padding-left: 5%;
}